*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.coverage
.tox/
nosetests.xml
pyramid/coverage.xml
tutorial.db
env26/
env26-debug/
bookenv/
env24/
env27/
jyenv/
pypyenv/
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
