*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.coverage
.tox/
nosetests.xml
pyramid/coverage.xml
tutorial.db
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
