graft src/pyramid
graft docs
prune docs/_build
graft tests

include README.rst
include CHANGES.rst HISTORY.rst BFG_HISTORY.rst
include CONTRIBUTORS.txt LICENSE.txt COPYRIGHT.txt

include .coveragerc .flake8 setup.cfg pyproject.toml
include tox.ini rtd.txt
include contributing.md RELEASING.txt HACKING.txt TODO.txt
graft .github

global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store
